@import "semantic-ui";
.chatbox{
    height: 450px;
}

.container .nav{
    margin-left:10px;
  } 

  
  .foir {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .foir i {
    margin-top: 15px;
    font-size: 3em !important; /* Increase the size as desired */
    margin-bottom: 10px;
  }
  